<div class="bg-img">
  <main class="box">
    <h2>¡Bienvenido a Envirored!</h2>

    <form>
      <div class="inputBox">
        <input
          class="form-control"
          placeholder="Nombre de Usuario"
          type="email"
        />
      </div>
      <div class="inputBox">
        <br />
        <input
          class="form-control"
          placeholder="Contraseña"
          type="password"
          required
        />
      </div>
      <input type="checkbox" /><label
        class="check"
        for="checkbox"
        style="text-decoration: aliceblue"
        >Mantenerme Conectado</label
      >
      <br />
      <div>
        <button type="submit" name="" style="float: left">
          Iniciar Sesion
        </button>
      </div>
      <br /><br /><br />
    </form>

    <div class="checks text-center mt-2 mb-3">
      <span>¿Olvidó el nombre de usuario o Contraseña?</span>
    </div>
    <div class="checks text-center" style="text-decoration: none">
      <span>¿No tiene cuenta? Registrate</span>
    </div>
  </main>

  <footer></footer>
</div>

<a href="" class="box2">
  <h2>Explore the Map</h2>
  <label class="checkmap"
    >View interactive map for real-time air quality and temperature data.</label
  >
</a>
