<!--<div class="body" [ngClass]="getBodyClass()">
    <router-outlet></router-outlet>
</div>-->




<app-sidebar (onToggleSideNav)="onToggleSideNav($event)"></app-sidebar>
<div [ngClass]="getBodyClass()"  class="main-content">

  <div class="body"  >
    <app-navbar></app-navbar>
  <router-outlet style="  height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  top: 0;
  background: #E8E8E8;
  padding: 3rem;
  background-size: cover; width: calc(100% - 5rem);
  margin-left: 5rem;"></router-outlet>
</div>
  <div class="container-fluid">
  </div>
</div>