.body {

    height: 100vh;
  margin-left: 5rem;
  z-index: 0;
  top: 0;
  background: #E8E8E8;
  padding: 3rem;
  background-size: cover; width: calc(100% - 5rem);
  margin-left: 5rem;
}

.body-trimmed {
    width: calc(100% - 16.5625rem);
    margin-left: 16.5625rem;
}

.body-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}
@media (max-width: 600px) {
    .body {
      margin-left: 5rem;
      background-size: cover; width: calc(100%);
      padding: 3rem;
      margin-left: 2rem;
    }
}
