<div class="container-fluid">
  <div class="header-body">
    <!-- Card stats -->
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="">
        <div>
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Lista de Usuarios</h3>
                </div>
               
              
                    <a 
                    style="background-color: #083e5e; margin-right: 0.80em"
                    class="btn btn-icon" routerLink="/register"
                  >
                    <i style="color: #fff" class="fas fa-user-plus"></i> 
                    <span style="color: rgb(255, 255, 255)">Registrar Usuario</span>
                  </a>

                <div class="input-group input-group-alternative col text-right"  style="font-weight: bolder; color:#083e5e
                ; margin-left: 0.75em; width: 30%;border-radius: .9rem;border: 1px solid rgb(170, 171, 177);box-shadow: 0.001rem 0 0.5rem 0 #8690a3;">
                  <input style="width: 30%"class="form-control" placeholder="Buscar usuario" type="text" [(ngModel)]="busqueda" />
                  <a class="input-group-prepend" (click)="BuscarUsuario()">
                    <span class="input-group-text" style="color: rgb(39, 39, 39)"><i class="fas fa-search"></i></span>
                  </a>
                </div>
              </div>
            </div>
            <app-mat-spinner-overlay *ngIf="carga"></app-mat-spinner-overlay>
            <div class="table-responsive">
              <!-- Projects table -->
              <app-mat-spinner-overlay *ngIf="carga"></app-mat-spinner-overlay>
              <table class="table align-items-center table-flush" style="font-size: 10px;">
                <thead>
                  <tr >
                    <th class="backGroundTable" scope="col" style="font-size: 12px">ID</th>
                    <th class="backGroundTable" scope="col" style="font-size: 12px">Nombres</th>
                    <th class="backGroundTable" scope="col" style="font-size: 12px">Apellidos</th>
                    <th class="backGroundTable" scope="col" style="font-size: 12px">Email</th>
                    <th class="backGroundTable" scope="col" style="font-size: 12px">Usuario</th>
                    <th class="backGroundTable" scope="col" style="font-size: 12px">N° Documento</th>
                    <th class="backGroundTable" scope="col" style="font-size: 12px">Estado</th>
                    <th class="backGroundTable" scope="col" style="font-size: 12px">Acciones</th>
                  </tr>
                </thead>
                <tbody *ngFor="let usuarios of usuarios_mk.usuarios | paginate: config; let i = index"
                [class.active]="i == currentIndex"
                (click)="setActiveTutorialSave(usuarios,i)">
                  <tr>
                    <td>
                      <label style="font-size: 13px; color: black;">{{(config.currentPage-1)*config.itemsPerPage+i+1}}</label>
                    </td>
                    <td>
                      <label style="font-size: 13px; color: black;">{{usuarios.nombres}}</label>
                    </td>

                    <td>
                      <label style="font-size: 13px; color: black;">{{usuarios.apellidos}}</label>
                    </td>

                    <td>
                      <label style="font-size: 13px; color: black;">{{usuarios.correo}}</label>
                    </td>

                    <td>
                      <label style="font-size: 13px; color: black;">{{usuarios.userName}}</label>
                    </td>

                    <td>
                      <label style="font-size: 13px; color: black;">{{usuarios.nroDocumento}}</label>
                    </td>

                    <td >
                      <label class="badge" style="color: honeydew; font-size: 10px; width: 80px; height: 25px; text-align: center;" [ngStyle]="{'background-color':usuarios.estado==true?'green':'red'}" >{{usuarios.estado==true ? 'Activo' : 'No Activo'}}</label>
                    </td>

                    <td>
                      
                        <a class="btn btn-sm" style="background-color:#083e5e ;"routerLink="/usuario-edit/{{ usuarios.id }}" ><i style="color: #fff;width: 20px; height: 20px;" class="fas fa-edit"></i></a>
                        <label style="color:white">--</label>
                        <a class="btn btn-sm" style="background-color:#083e5e ;" routerLink="/usuario-details/{{ usuarios.id }}" ><i style="color: #fff;width: 20px; height: 20px;" class="fas fa-eye"></i></a>

                      
                    </td>
                  </tr>
                </tbody>
              </table>
              
              <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
            
          </div>

        </div>
      </div>
    </div>
    
  </div>
  
</div>