<div class="container-fluid">
  <div class="header-body">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Ubicación de la Estación</h3>
        </div>

        

        <select
          style="
            font-weight: bolder;
            color: #083e5e;
            margin-left: 0.75em;
            width: 30%;
            border-radius: 0.9rem;
            border: 1px solid rgb(170, 171, 177);
            box-shadow: 0.001rem 0 0.5rem 0 #8690a3;
          "
          (change)="getUbicacionCombo($event)"
          class="form-control form-control-alternative"
          required
        >
          <option
            *ngFor="let stations of currentEstacion"
            value="{{ stations.id }}"
            
          >
            {{ stations.nombreEstacion }}
          </option>
        </select>
      </div>
    </div>

    <br />

    <div class="card shadow" style="border-bottom: 14px solid #edf1f7">
      <div class="row align-items-center">
        <div class="col">
          <div id="map" class="container-fluid"><div></div></div>
        </div>
      </div>
    </div>

    <!--
<div class="map-container">

  <div class="map-frame">

    <div id="map"></div>

  </div>

</div>-->
  </div>
</div>
<app-mat-spinner-overlay *ngIf="carga"></app-mat-spinner-overlay>