<div class="container-fluid">
  <div class="header-body">
    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="mb-0">Coordenadas de la estación</h3>
        </div>
        <!--
              <a routerLink="/add-usuario" class="btn"
                style="background-color: #018a6f; color: aliceblue;margin-right: 0.75em;"><i
                  style="margin-right: 0.75em;" class="fa fa-user-plus "></i>Agregar Usuario</a>-->

                  <a href="" style="margin-right: 0.78em">
                    <i style="color: #083e5e;width: 20px; height: 20px;" class="fas fa-sync"></i>
          
                  </a>
        <select
          style="font-weight: bolder; color:#083e5e
            ; margin-left: 0.75em; width: 30%;border-radius: .9rem;border: 1px solid rgb(170, 171, 177);box-shadow: 0.001rem 0 0.5rem 0 #8690a3;"
          matNativeControl
          required
          class="form-control form-control-alternative"
          id="estacion"
          required
          name="estacion"
        >
          <option>FUNDO SAN ANTONIO-NAZCA</option>
          <option>FUNDO CHIQUERILLO-PALPA</option>
          <option>FUNDO SAN FERMÍN-PALPA</option>
        </select>
      </div>
    </div>

    <br />

    <div class="card-header border-0">
      <div class="row align-items-center">
        <div class="col"></div>
        <!--
              <a routerLink="/add-usuario" class="btn"
                style="background-color: #018a6f; color: aliceblue;margin-right: 0.75em;"><i
                  style="margin-right: 0.75em;" class="fa fa-user-plus "></i>Agregar Usuario</a>-->
      </div>
    </div>

   
  </div>
</div>
