<div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <div class="row">
      <div class="col">
        <div class="">
          <div>
            <div class="card shadow">
              <div class="card-header border-0">
                <div class="row align-items-center">
                  <div class="col">
                    <h3 class="mb-0">Filtrar Datos</h3>
                  </div>
                  <!--
                  <a routerLink="/add-usuario" class="btn"
                    style="background-color: #018a6f; color: aliceblue;margin-right: 0.75em;"><i
                      style="margin-right: 0.75em;" class="fa fa-user-plus "></i>Agregar Usuario</a>-->
  
                  
                    <select style="width: 30%;"matNativeControl required class="form-control form-control-alternative"
                                            id="estacion" required name="estacion">
                                            <option>FUNDO SAN ANTONIO-NAZCA</option>
                                            <option>FUNDO CHIQUERILLO-PALPA</option>
                                            <option>FUNDO SAN FERMÍN-PALPA</option>
                    </select>

                    <select style="width: 30%; margin-left: 0.75em;"matNativeControl required class="form-control form-control-alternative"
                                            id="estacion" required name="estacion">
                                            <option>FUNDO CHIQUERILLO-PALPA</option>

                                            <option>FUNDO SAN FERMÍN-PALPA</option>
                    </select>
                 
                </div>
              </div>
              <div class="table-responsive">
                <!-- Projects table -->
                <table class="table align-items-center table-flush" style="font-size: 10px;">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Nombres</th>
                      <th scope="col">Apellidos</th>
                      <th scope="col">Email</th>
                      <th scope="col">Usuario</th>
                      <th scope="col">N° Documento</th>
                      <th scope="col">Estado</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody 
                 >
                    <tr>
                      <td>
                        <label></label>
                      </td>
  
                      <td>
                        <label></label>
                      </td>
  
                      <td>
                        <label></label>
                      </td>
  
                      <td>
                        <label></label>
                      </td>
  
                      <td>
                        <label></label>
                      </td>
  
                      <td >
                        <label class="badge" style="color: honeydew; font-size: 10px;" ></label>
                      </td>
  
                      <td>
                        
                       
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>