<div class="bg-img">
  <main class="box">
  

    <div class="media align-items-center">
        
            <img src="https://icon-library.com/images/white-icon-png/white-icon-png-18.jpg" style="width: 50px;height:50px">
       
        <div class="media-body">

            <h2 class="mb-0 " style="margin-left: 0.75em;">Registrarse</h2>

        </div>
      </div>

      <br>

    <form>
      <div class="pl-lg-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="inputBox">
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Nombre de Usuario"
                  type="text"
                  required
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="inputBox">
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Email"
                  type="email"
                  required
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="inputBox">
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Nombre"
                  type="text"
                  required
                />
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="inputBox">
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Apellido"
                  type="text"
                  required
                />
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="inputBox">
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Contraseña"
                  type="password"
                  required
                />
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="inputBox">
              <div class="form-group">
                <input
                  class="form-control"
                  placeholder="Repetir Contraseña"
                  type="password"
                  required
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>

        <div class="pl-lg-0">
            <div class="row">
              <div class="col-lg-6">
                <div class="inputBox">
                    <div class="checks text-center" style="text-decoration: none">
                        <span>¿Si tiene una cuenta? <a >Iniciar Sesion</a></span>
                      </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="inputBox">
                    <button type="submit" name="" style="float: left">Próximo</button>
                </div>
              </div>
            </div>
        </div>


       
      </div>
      <br /><br /><br />
    </form>

  </main>

  <footer></footer>
</div>
