<div
  class="header py-7 py-lg-8"
  style="
    background-image: url(https://www.weatherlink.com/static/images/socialMediaShare/facebook.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  "
></div>

<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div
        class="border-0"
        style="
          background-color: rgba(75, 75, 75, 0.8);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.8);
          border-radius: 10px;
        "
      >
        <div class="card-body px-lg-5 py-lg-5">
          <div class="media align-items-center">
            <img
              src="https://icon-library.com/images/white-icon-png/white-icon-png-18.jpg"
              style="width: 50px; height: 50px"
            />
      
            <div class="media-body">
              <h2 class="mb-0" style="margin-left: 0.75em; color: #fff;" >Registrarse</h2>
            </div>
          </div>
          <form>
            <div class="pl-lg-0">
              <div class="row">
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Nombre de Usuario"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Email"
                        type="email"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Nombre"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Apellido"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Departamento"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Provincia"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Distrito"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Empresa"
                        type="text"
                        required
                      />
                    </div>
                  </div>
                </div>
      
      
      
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Contraseña"
                        type="password"
                        required
                      />
                    </div>
                  </div>
                </div>
      
                <div class="col-lg-6">
                  <div class="inputBox">
                    <div class="form-group">
                      <input
                        class="form-control"
                        placeholder="Repetir Contraseña"
                        type="password"
                        required
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <div class="pl-lg-0">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="inputBox">
                      <div class="checks text-center" style="text-decoration: none">
                        <span>¿Si tiene una cuenta? <a>Iniciar Sesion</a></span>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="inputBox">
                      <button
                      type="button"
                      style="
                        background-color: #0bab8b;
                        border-radius: 8px;
                        width: 100%;
                        height: 100%;
                      "
                      class="btn btn-primary my-2"
                    >
                      Iniciar Sesión
                    </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br /><br /><br />
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
