<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()"><i style="color:#083e5e" class="fal fa-home"></i></button>
    <!--<div class="logo-text" @fadeInOut *ngIf="collapsed">Davis Perú</div>-->
    <div class="logo-text" @fadeInOut *ngIf="collapsed"><img src="../../../assets/img/brand/índice.png"
        style="height: 25px; width:130px;"></div>
    <!-- <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
            <i class="fal fa-times close-icon"></i>
        </button> -->
  </div>

  <br><br>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
      <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="sidenav-link-icon" [class]="data.icon"></i>
        <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
          {{data.label}}
        </span>
      </a>

    </li>


    <ng-container *ngIf="userDetails.rolId == 1">
      <li class="sidenav-nav-item" *ngFor="let data of navDataAdmin">
        <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
            {{data.label}}
          </span>
        </a>

      </li>
    </ng-container>

    <br />
    <br />
    <br /><br />
    <br />
    <br /><br /><br />

    <li class="sidenav-nav-item2">
      <a class="sidenav-nav-link2" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i style="
                font-size: 25px;
                margin: 0 3.0rem;
                color: #f3f3f3;
                text-decoration: none;
              " class="sidenav-link-icon2 fas fa-question-circle"></i>
        <br />
        <span style="color: #f3f3f3; text-decoration: none" class="sidenav-link-text2" @fadeInOut *ngIf="collapsed">
          ¿Que hay de nuevo?
        </span>
      </a>
    </li>
  </ul>

  <!--
    <footer class="footer">
        <ul class="sidenav-nav">
            <li class="sidenav-nav-item" *ngFor="let data of navFooter">
                <a class="sidenav-nav-link" [routerLink]="[data.routeLink]" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    <i class="sidenav-link-icon" [class]="data.icon"></i>
                    <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">
                        {{data.label}}
                    </span>
                </a>
      
            </li>
        </ul>
       
    </footer>-->
</div>