
    
    <div class="container-fluid">
      <app-mat-spinner-overlay *ngIf="carga"></app-mat-spinner-overlay>
      
      <div class="header-body" >

        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0" >Tiempo real</h3>
              
            </div>
            <div id="hover" style="margin-right: 1.8em;">
              <div style=" text-align: center;">
                <a   (click)="actualizar()"  >
                  <i id="icon" style="color: #083e5e;width: 20px; height: 20px; " class="fas fa-sync"></i>
        
                </a>
              </div>
              
            </div>
        

            <!--
            <a routerLink="/add-usuario" class="btn"
              style="background-color: #018a6f; color: aliceblue;margin-right: 0.75em;"><i
                style="margin-right: 0.75em;" class="fa fa-user-plus "></i>Agregar Usuario</a>-->

              <label style="color: #083e5e"> <strong>Estación Actual: </strong></label>

              <select
        
              style="font-weight: bolder; color:#083e5e
              ; width: 27%; margin-left: 0.75em;border-radius: .9rem;border: 1px solid rgb(170, 171, 177);box-shadow: 0.001rem 0 0.5rem 0 #8690a3;"
              matNativeControl
              required
              class="form-control form-control-alternative"
              (change) = "changes($event)"
              required
              (change)="onChange($event)"

            >
              <option
                *ngFor="let stations of currentEstacion"
                value="{{ stations.id }}"
                
              >
                {{ stations.nombreEstacion }}
              </option>
            </select>


          </div>
        </div>
      
        <div class="container-fluid py-3">
          <!-- <h1>Angular Highcharts</h1> -->
          
          <!-- <div class="row mt-5">
            <div class="col-4">
              <div id="chart-gauge"></div>
            </div>
           
          </div> -->
          

          <div class="row">
            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                 
                 
                      <div id="chart-gauge"></div>
             
                  
  
                  
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                 
                 
                      <div id="chart-column"></div>
             
                  
  
                  
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                 
                 
                      <div id="chart-columnRain"></div>
             
                  
  
                  
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">

                      <div id="chart-Temperatura"></div>
                  
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                 
                 
                      <div id="chart-gaugeUv"></div>
             
                  
  
                  
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                 
                 
                      <div id="chart-gaugeHumedad"></div>
             
                  
  
                  
                </div>
              </div>
            </div>
            <!-- <div class="col-xl-3 col-lg-6">
              <div class="card card-stats mb-4 mb-xl-0">
                <div class="card-body">
                  
                  <div id="chart-windrose"></div>
                 
                </div>
              </div>
           </div> -->

           <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="titulo">Viento</span><br>
                    <span class="submenu">Dirección: </span>
                    <span class="respuesta font-weight-bold mb-0">{{this.DataDavisDt?.wind_dir}}</span><br>
                    <span class="submenu">Grado: </span>
                    <span class="respuesta font-weight-bold mb-0">{{this.DataDavisDt?.wind_degrees}}°</span><br>
                    <span class="submenu">Velocidad: </span>
                    <span class="respuesta font-weight-bold mb-0">{{this.DataDavisDt?.wind_kt}} kt</span>
                    
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fa fa-cloud"></i>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>

            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="titulo">Presión</span><br>
                    <span class="h1 font-weight-bold mb-0">{{this.DataDavisDt?.pressure_string}}</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fa fa-thermometer"></i>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>
            

           </div>


           
          <div class="col-xl-3 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="titulo">Temperatura Actual</span><br>
                    <span class="h1 font-weight-bold mb-0">{{this.DataDavisDt?.temp_c}} °C</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-sun-cloud"></i>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>

            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <span class="titulo">Punto Rocío</span><br>
                    <span class="h1 font-weight-bold mb-0">{{this.DataDavisDt?.dewpoint_c}} ºC</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fa fa-snowflake"></i>
                    </div>
                  </div>
                </div>
               
              </div>
            </div>

            
          </div>
          
        </div>
         
      </div>
     
    </div>
  </div>



    
    
    <div style="display:none">
      <!-- Source: http://or.water.usgs.gov/cgi-bin/grapher/graph_windrose.pl -->
      <table id="freq" border="0" cellspacing="0" cellpadding="0">
        <tbody><tr nowrap="" bgcolor="#CCCCFF">
          <th colspan="9" class="hdr">Table of Frequencies (percent)</th>
        </tr>
        <tr nowrap bgcolor="#CCCCFF">
          <th class="freq">Direction</th>
          <!-- <th class="freq"></th> -->
          <th class="freq">Dirección</th>
        </tr>
        <tr nowrap="">
          <td class="dir">N</td>
          <td class="data">{{this.NorthBool}}</td>
          
        </tr>    
        <tr nowrap="" bgcolor="#DDDDDD">
          <td class="dir">NNE</td>
          <td class="data">{{this.NorthNorthEastBool}}</td>
        </tr>
        <tr nowrap="">
          <td class="dir">NE</td>
          <td class="data">{{this.NorthEastBool}}</td>
        </tr>
        <tr nowrap="" bgcolor="#DDDDDD">
          <td class="dir">ENE</td>
          <td class="data">{{this.EastNorthEastBool}}</td>
        </tr>
        <tr nowrap="">
          <td class="dir">E</td>
          <td class="data">{{this.EastBool}}</td>
        </tr>
        <tr nowrap="" bgcolor="#DDDDDD">
          <td class="dir">ESE</td>
          <td class="data">{{this.EastSouthEastBool}}</td>
        </tr>
        <tr nowrap="">
          <td class="dir">SE</td>
          <td class="data">{{this.SouthEastBool}}</td>
    
        </tr>
        <tr nowrap="" bgcolor="#DDDDDD">
          <td class="dir">SSE</td>
          <td class="data">{{this.SouthSouthEastBool}}</td>
        </tr>
        <tr nowrap="">
          <td class="dir">S</td>
          <td class="data">{{this.SouthBool}}</td>
        </tr>
        <tr nowrap="" bgcolor="#DDDDDD">
          <td class="dir">SSW</td>
          <td class="data">{{this.SouthSouthWestBool}}</td>
    
        </tr>
        <tr nowrap="">
          <td class="dir">SW</td>
          <td class="data">{{this.SouthWestBool}}</td>
    
        </tr>
        <tr nowrap="" bgcolor="#DDDDDD">
          <td class="dir">WSW</td>
          <td class="data">{{this.WestSouthWestBool}}</td>
    
        </tr>
        <tr nowrap="">
          <td class="dir">W</td>
          <td class="data">{{this.WestBool}}</td>
    
        </tr>
        <tr nowrap="" bgcolor="#DDDDDD">
          <td class="dir">WNW</td>
          <td class="data">{{this.WestNorthWestBool}}</td>
    
        </tr>
        <tr nowrap="">
          <td class="dir">NW</td>
          <td class="data">{{this.NorthWestBool}}</td>
     
        </tr>    
        <tr nowrap="" bgcolor="#DDDDDD">
          <td class="dir">NNW</td>
          <td class="data">{{this.NorthNorthWestBool}}</td>
        </tr>
        
      </tbody></table>
      
    </div>
 
  